@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&family=Kaisei+Opti:wght@400;500;700&display=swap');

:root{
  --bg-light: #DED5BD;
  --text-light: #2D281C;
  --primary-light: #007A7A;
  --secondary-light: #7A7256;
  --filter-light: #837656;
}
body{
  background-color: var(--bg-light);
}

/* Typography and Iconography */
h1{
  font-family: "Kaisei HarunoUmi", sans-serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 1.2;
  color: var(--text-light);
}
.NavBarItem > a {
  font-family: "Kaisei Opti", sans-serif;
  color: var(--primary-light);
  font-weight: bold;
  font-size: 14pt;
}

p{
  font-family: "Kaisei HarunoUmi", sans-serif;
  font-weight: 500;
  color: var(--text-light)
}

/* Animations for Text */


/* Class Styles */

#root {
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-light);
  width: 100dvw;
  height: 100dvh;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  overflow: hidden;
  gap: 15px;
}

.header-before, .header-after {
  flex: 1;
  text-overflow: clip;
  color: var(--secondary-light);
  line-height: 1.2;
  font-size: 96px; 
  white-space: nowrap;
  overflow: hidden;
}

.header-before {
  text-align: right;
  direction: rtl;
}

.header-after {
  text-align: left;
}

/* .header-before, .header-after {
  text-overflow: hidden;
  color: var(--secondary-light);
  overflow: hidden;
} */


.NavBar{
  display: flex;
  flex-direction: row;
  width: 60dvw;
  justify-content: space-evenly;
  margin: 10px auto;
}

.NavBarBreak{
  display: flex;
  height: 80%;
  line-height: 100%;
  align-self: center;
  width: 1px;
  background-color: var(--secondary-light);
}

.NavBarItem {
  display: flex;
  width: auto;
}

.photos{
  display: flex;
  width: 64dvw;
  justify-content: space-evenly;
  height: fit-content;
  margin: 30px auto;
}

.photo{
  display: flex;
  height: 18dvw;
  width: 18dvw;
  background-color: var(--filter-light);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
